.content-body {
  width: 100%;
}
.say-hello {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-wrapper {
  display: flex;
  height: 100vh;
}
.introduction {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  width: 50%;
  height: 100%;
}
.profile {
  object-fit: cover;
  transform: translateX(100%);
  transition: 1s cubic-bezier(0.86, 0.08, 0.1, 0.91);
}
.slide-in {
  transform: translateX(0%);
}

.focus-word {
  opacity: 1;
  transition: 4s;
}

.word-visible {
  color: rgb(101, 127, 222);
  opacity: 1;
}

.gradient {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 40px;
}
